.dropdown {
  width: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  /* transition: background 500ms; */
  padding: 10px 5px 10px 20px;
  font-size: 15px;
  text-decoration: none;
  color: #252525;
  border: 1px solid #e1e1e1;
}

.menu-item:hover {
  background: #e1e1e1;
}

.menu-item > .icon-button-right {
  font-size: 15px;
}

.menu-header {
  padding: 8px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-header > h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  color: #a1a1a1;
}

.menu-header > h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}

.menu-header > .left-icons {
  margin-right: 5px;
  color: #a1a1a1;
}

.menu > .subtitle {
  font-size: 14px;
  font-weight: 800;
  padding: 10px;
  color: #a1a1a1;
  text-transform: uppercase;
  border-top: 1px solid #e1e1e1;
}

.menu-primary-enter {
  position: relative;
  transform: translateX(-100%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-100%);
  transition: all 500ms ease;
}
.menu-secondary-enter {
  transform: translateX(100%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-secondary-exit {
  position: relative;
}
.menu-secondary-exit-active {
  transform: translateX(100%);
  transition: all 500ms ease;
}